.fa-plus-circle,
.fa-minus-circle {
  cursor: pointer;
  display: inline-block;
}

.fa-plus-circle {
  margin-left: 5px;
}

.fa-minus-circle {
  margin-right: 5px;
}

.table-responsive-sm {
  max-height: 70vh;
  overflow: hidden;
}

.btn-remove:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

.cartPage-wrapper {
  padding-top: 88px;
}

.table-container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding: 10px 10px;
  min-height: 300px;
}

.cart-table {
  border-radius: 10px;
  max-height: 493px;
  overflow-y: scroll;
}

