.category-page-container {
  min-height: 100vh;
  background-color: var(--background-color);
  margin-top: 50px;
}

.category-banner-container {
  height: 120px;
  background-color: var(--warning-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-box-category {
  position: unset !important;
}
